.board-results {
  margin-top: 50px;
}

.board-results p,
.board-results p span {
  color: #dbdbdb;
  font-family: 'Outfit', sans-serif;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  margin: 37px 0;
}

.board-results.calculated p {
  color: #474747;
  
}

.board-results.calculated p span {
  color: #3abe8c;
}