.board-results {
  margin-top: 50px;
}

.board-results p,
.board-results p span {
  color: #dbdbdb;
  font-family: 'Outfit', sans-serif;
  font-size: 43px;
  font-weight: 600;
  margin: 30px 0;
  line-height: 30px;
}

.board-results.calculated p {
  color: #474747;
  
}

.board-results.calculated p span {
  color: #3abe8c;
}